/****************************************************************************************************************************************************************
 * Summary
 ****************************************************************************************************************************************************************
 * Imports
 * 1. Additional properties
 *    - Tables
 *    - Horizontal line
 * 2. News properties
 *    - Tables
 * 3. Connection properties
 *    - Inputs
 * 4. Flux properties
 *    - Tables
 *    - Inputs
 ****************************************************************************************************************************************************************/

/* Imports
 **************************
 * Title font:   Sarala
 * Regular font: Montserrat
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Sarala:400,700');

/* 1. Additional properties
 ****************************
 * Selection
 * Tables
 * Horizontal line
 */
a {
    color: #A00;
    text-decoration: none;
    transition: .5s
}

a:hover {
    color: #D00
}

button a {
    color: inherit
}

button a:hover {
    color: inherit;
}

button,
input.button {
    background-color: #DDD;
    font-size: 11pt;
    font-weight: 500;
    margin: 1px;
    padding: 5px;
    transition: .5s
}

button:hover {
    cursor: pointer;
}

html,
body {
    background: #EEE;
    margin: 0;
    text-align: center;
    width: 100%

}

.container {
    margin-left: 15px;
    margin-right: 15px
}

* {
    font-family: "Montserrat", "Trebuchet MS", Arial, sans-serif;
    margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sarala", "Trebuchet MS", Arial, sans-serif;
    padding: 20px
}

h1 {
    font-weight: 700
}

::selection {
    background: rgba(0, 0, 0, .2) /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: rgba(0, 0, 0, .2) /* Gecko Browsers */
}

.full-width {
    width: 100%
}

td, th {
    padding: 5px
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.no-margin {
    margin: 0
}

table,
td,
th,
tr {
    background-color: #FFF;
    border: 1px solid #AAA;
    border-collapse: collapse;
    text-align: center
}

/* 2. News properties
 ****************************
 * Tables
 */
[name="date"] {
    width: 20%
}

[name="nom"] {
    width: 20%
}

[name="description"] {
    width: 60%
}

/* 3. Connection properties
 ****************************
 * Inputs
 */
input[name="id"],
input[name="mdp"] {
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 30%
}

/* 4. Flux properties
 ****************************
 * Tables
 * Inputs
 */
[name="guid"],
[name="lien"] {
    width: 45%
}

[name="action"] {
    width: 10%
}

button[name="addOrRemove"],
input[name="idFlux"],
input[name="lienFlux"] {
    text-align: center;
    width: 100%
}

button[ATTR="rem"] {
    background-color: #FBB
}

button[ATTR="rem"]:hover {
    background-color: #F99
}

button[ATTR="add"] {
    background-color: #BFB;
}

button[ATTR="add"]:hover {
    background-color: #9F9
}
