/****************************************************************************************************************************************************************
 * Summary
 ****************************************************************************************************************************************************************
 * Imports
 * 1. Additional properties
 *    - Tables
 *    - Horizontal line
 * 2. News properties
 *    - Tables
 ****************************************************************************************************************************************************************/

/* Imports
 **************************
 * Title font:   Sarala
 * Regular font: Montserrat
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Sarala:400,700');

/* 1. Additional properties
 ****************************
 * Selection
 * Tables
 * Horizontal line
 */
html,
body,
.container {
    background: #EEE !important;
    text-align: center;
    width: 100%

}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 20px
}

::selection {
    background: rgba(0, 0, 0, .5) /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: rgba(0, 0, 0, .5) /* Gecko Browsers */
}

.full-width {
    width: 100%
}

td, th {
    padding: 5px
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

/* 2. News properties
 ****************************
 * Tables
 */
table {
    background-color: #FFF;
}

[name="date"] {
    width: 20%
}

[name="nom"] {
    width: 20%
}

[name="description"] {
    width: 60%
}
